@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

$color-purple: #1b084e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media screen and (max-width: 1200px) {
    font-size: 14px;
  }
  @media screen and (max-width: 900px) {
    font-size: 12px;
  }
}

body {
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(
      to right bottom,
      rgb(245, 198, 36) 0%,
      rgba(154, 52, 178, 0.46) 99.53%
    ),
    url('./img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  color: $color-purple;
  margin-top: 0.5rem;
  @media screen and (max-width: 900px) {
    font-size: 4rem;
  }
}

h3 {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 1.85rem;
  color: $color-purple;
  text-align: center;
  @media screen and (max-width: 900px) {
    font-size: 1.5rem;
  }
}

main {
  width: 80%;
  min-width: 350px;
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 4rem auto 1.5rem auto;
  @media screen and (max-width: 600px) {
    margin: 1rem auto;
    flex-direction: column;
    align-items: center;
  }
}

.img-container {
  height: 272px;
  width: 50rem;
  flex: 0 0 30%;
  display: flex;
  align-items: center;

  margin-right: 2rem;
  @media screen and (max-width: 600px) {
    height: 150px;
    width: 150px;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  object-fit: contain;
}

p {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem;

  font-size: 1rem;
  color: #fff;
}

.cta {
  padding: 1rem 1.5rem;
  color: $color-purple;
  background-color: #f5c624;
  font-size: 1.9rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 200px;
  display: block;

  transition: all 0.2s ease;

  &:hover {
    color: #f5c624;
    background-color: $color-purple;
  }
}
